/* CLASSES GENERAL */
 
// Index

// Navigation

.navSeen {
    display: inline-block !important; 
    animation: 2s ease-in-out;
}

// Suite de la présentation 

.nextSeenPresentation {
    display: block !important; 
}