/* ROOT */

:root {
    margin: 0;
    padding: 0;
}

/* Font size general */

html {
    font-size: 100%;
} /*16px*/

/* BODY General */

body {
    font-family: var(--body-font);
    font-size: var(--font-size-normal);
    color: var(--black);
    background-color: var(--background-color);
}

/* TITLE */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    color: var(--black);
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.2rem;
}
h3 {
    font-size: 1.1rem;
}
h4 { 
    font-size: 1rem;
}
h5 {
    font-size: 0.9rem;
}
h6 {
    font-size: 0.8rem;
}

/* Lien */ 

a {
    text-decoration: none;
    color: #030200;
}

a:hover {
    font-size: 1.3rem;
    color: #FADFA0;
}

/* Liste */

ul,
ol {
    list-style: none;
    color: #030200;
}

/* Boutton */ 

.btn {
    border: var(--borderClassicBlac);
    border-radius: 5px;
    color: black;
    background-color: var(--white);
    display: block;
    margin: auto;
}

/* Underline */ 

.underlineGeneral {
    height: 5px;
    width: 90vw;
    background-color: var(--black);
    border-radius: 5px;
    margin: auto;
}