.container {
    // HEADER
    header {
        background: url(../assets/img/plage_miami.jpg) center no-repeat;
        padding: 0.2rem 0;
        h1 {
            text-align: center;
            color: var(--lightBlue);
            border: 1px solid var(--black);
            margin: 0 25px;
            border-radius: 5px;
            box-shadow: 6px 6px 1px 1px var(--lightBlue);
            text-transform: uppercase;
        }
        // MENU BURGER
        #menuBurger {
            display: block;
            margin-top: 0.8rem;
            margin-left: 1.2rem;
            .menuBurgerSpan {
                background-color: var(--black);
                height: 3.5px;
                width: 20px;
                display: block;
                margin: 0.1rem 0;
            }
        }
        // NAVIGATION
        nav {
            background-color: var(--navBar-color);
            display: none;
            text-align: center;
            ol {
                padding: 0 0.3rem;
            }
        }

    }
    // PRESENTATION
    .presentation {
        background: linear-gradient(164deg, var(--lightBlue) 0%, var(--grey100) 100%);
        border: 1px solid var(--lightRed2);
        border-radius: 5px;
        margin-top: 0.4rem;
        h3 {
            text-align: center;
            text-decoration: underline;
        }
        // PREMIER TEXTE
        p {
            text-align: center;
            line-height: 1.1rem; 
        }
        button {
            margin-bottom: 0.2rem;
        }
        // SECOND TEXTE
        #nextPresentation {
            text-align: center;
            line-height: 1.1rem;
            display: none;
        }
    }

    // LES AVIS
    #lesAvis {
        background: linear-gradient(164deg, var(--lightBlue) 10%, var(--grey100) 98%);
        padding: 0.2rem;
        margin-top: 0.4rem;
        border-radius: 5px;
        div {
            background-color: var(--grey100);
            border: 1.5px solid var(--black);
            border-radius: 5px;
            margin: 0.4rem;
            display: grid;
            grid-template-areas: 
            'prenom nom age'
            'underline underline underline'
            'titre titre titre'
            'btn btn btn'
            'commentaire commentaire commentaire';
            h2 {
                margin: 0.2rem;
                grid-area: prenom;
                text-transform: uppercase;
            }
            h3 {
                margin: 0.2rem;
                text-transform: uppercase;
                grid-area: nom;
            }
            h6 {
                margin: 0.2rem;
                grid-area: age;
                margin: auto 0;
            }
            #underline {
                background-color: var(--black);
                display: block;
                grid-area: underline;
                border: none;
                height: 2px;
                margin-top: 0.1rem;
            }
            em {
                margin-top: 0.2rem;
                color: var(--lightRed);
                text-decoration: underline;
                text-align: center;
                grid-area: titre;
                text-transform: uppercase;
            }
            button {
                grid-area: btn;
                margin: 0.3rem auto;
            }
            p {
                text-align: center;
                grid-area: commentaire;
                display: none;
            }
        }
    }
}